@media (min-width:768px) and (max-width:1024px){
    .header__form-list{
        display: none;
    }
    .header__search{
        margin-top: 0;
    }
    .grid__column-2-4{
        width: 25%;
    }
    .header__navbar-item-link{
        display: none;
    }
}
@media(max-width:767px){
    .header__navbar{
        /* display: none; */
     
    }
    .header__notify{
        left: 0;
    }
    .header__navbar-hover-list{
        z-index: 2;
    }
    .header__notify::before{
        display: none;
      }
    .header__navbar-list-1{
        display: none; 
    }
    .header__with-search{
        height: 0;
    }
    .header__form-list{
        display: none;
    }
    .header__logo{
        display: none;
    }
    .header__form{
        margin: 0 0 0 20px;
    }
    .header__cart{
        margin: auto 30px 0;
    }
    .home-filter__label{
        display: none;
    }
    .home-filter__trang{
        display: none;
    }
    .grid__column-2{
        display: none;
    }
    .grid__column-10{
        width: 100%;
    }
    .grid__row{
        padding: 0 5px;
    }
    .grid__column-2-4{
        width: 50%;
    }
    .pagination{
        display: none;
    }
   
}